* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #1D1F21;
}

@mainColor: #B946AD;

/*--- SCREEN SIZE ---*/

@smallScreen: 576px;
@mediumScreen: 768px;
@largeScreen: 992px;
@exLargeScreen: 1200px;

/*--- CONYAINER SIZE ---*/

@smallContainer: 540px;
@mediumContainer: 720px;
@largeContainer: 960px;
@exLargeContainer: 1140px;

/*----------------------*/

.widthContainerMax {
    width: @exLargeContainer;
    margin: 0 auto;
    @media (max-width: @exLargeScreen) {
        width: @largeContainer;
    }
    @media (max-width: @largeScreen) {
        width: @mediumContainer;
    }
    @media (max-width: @mediumScreen) {
        width: @smallContainer;
    }
    @media (max-width: @smallScreen) {
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}

header {
    width: 100%;
    background-color: rgb(22, 28, 33);
}

.headContainer {
    .widthContainerMax;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    address {
        text-transform: uppercase;
        font-style: normal;
        color: #fff;
        font-size: 12px;
        i {
            margin-right: 7px;
        }
        span:nth-child(2) {
            margin-left: 15px;
        }
    }
    .headButton {
        color: @mainColor;
        font-size: 16px;
        position: relative;
        i {
            margin-left: 15px;
            cursor: pointer;
        }
        i:nth-child(3):hover + form {
            opacity: 1;
            transition: .3s;
            z-index: 1;
        }
        form {
            opacity: 0;
            position: absolute;
            right: 0;
            width: auto;
            transition: 1.2s;
            z-index: -1;
            &:hover {
                z-index: 1;
                opacity: 1;
                transition: .5s;
            }
            input {
                float: left;
                border: none;
                outline: none;
                background-color: @mainColor;
                color: #fff;
                font-size: 16px;
                padding: 7px 25px 7px 8px;
            }
            button {
                width: 1px;
                border: none;
                outline: none;
                background-color: @mainColor;
                color: #fff;
                font-size: 16px;
                margin-left: -40px;
                padding: 7px 0;
            }
        }
    }
}

.upBackground {
    height: 908px;
    background-image: url(../image/back.jpg);
    background-position: center;
}

.navBackground {
    background-color: rgba(0, 0, 0, .5);
    nav {
        .widthContainerMax;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: @mediumScreen) {
            flex-direction: column;
            align-content: center;
        }
        @media (max-width: @smallScreen) {
            flex-direction: row;
        }
        span {
            color: #fff;
            font-family: Georgia, "Times New Roman", Times, serif;
            font-size: 30px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        ul {
            font-size: 14px;
            color: #fff;
            list-style-type: none;
            display: flex;
            @media (max-width: @smallScreen) {
                flex-direction: column;
            }
            li {
                margin-left: 23px;
                display: block;
                padding: 30px 0;
                cursor: pointer;
                transition: .2s;
                @media (max-width: @smallScreen) {
                    padding: 10px 0;
                }
                &:nth-child(1),
                &:hover {
                    color: @mainColor;
                }
            }
        }
    }
}

.centralText {
    .widthContainerMax;
    padding: 200px 0 400px;
    color: #fff;
    text-align: center;
    p:nth-child(1) {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 55px;
        margin-bottom: 20px;
    }
    p:nth-child(2) {
        margin: 0 25%;
        line-height: 30px;
        font-size: 14px;
        margin-bottom: 45px;
    }
    button {
        border: none;
        outline: none;
        background-color: @mainColor;
        padding: 12px 26px;
        color: #fff;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 14px;
        transition: .2s;
        border: 1px solid @mainColor;
        &:hover {
            border: 1px solid #fff;
            background-color: rgba(0, 0, 0, .3);
        }
    }
}

.headFoto {
    .widthContainerMax;
    margin-top: -200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 80px;
    @media (max-width: @exLargeScreen) {
        margin-top: -200px;
    }
    @media (max-width: @mediumScreen) {
        margin-top: -100px;
    }
    figure {
        width: 30.5%;
        height: 400px;
        background-image: url(../image/backLight.jpg);
        overflow: hidden;
        cursor: pointer;
        @media (max-width: @exLargeScreen) {
            margin-bottom: 40px;
            height: 330px;
        }
        @media (max-width: @largeScreen) {
            height: 250px;
        }
        @media (max-width: @mediumScreen) {
            height: 400px;
            width: 70%;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        .insideHover {
            width: 100%;
            height: 100%;
            transition: .3s ease-in-out;
            color: #fff;
            font-size: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                background-color: rgba(185, 70, 173, .4);
            }
            &:hover i {
                opacity: 1;
            }
            &:hover +figcaption {
                margin-top: -130px;
            }
            i {
                opacity: 0;
                transition: .3s ease-in-out;
            }
        }
        figcaption {
            margin-top: -50px;
            color: #fff;
            text-align: center;
            padding: 15px 25px;
            background-color: rgba(0, 0, 0, .7);
            transition: .3s ease-in-out;
            &:hover {
                background-color: rgba(0, 0, 0, .7);
                margin-top: -130px;
            }
            h6 {
                font-family: Georgia, "Times New Roman", Times, serif;
                font-size: 17px;
                padding-bottom: 15px;
            }
            p {
                font-size: 14px;
                line-height: 23px;
            }
        }
    }
}

.hr {
    .widthContainerMax;
    border: .5px solid grey;
}

.posuere {
    .widthContainerMax;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .posuereImg {
        width: 50%;
        @media (max-width: @mediumScreen) {
            width: 100%;
        }
        .posuereImgBorder {
            border: 1px solid gray;
            padding: 15px;
            max-width: 506px;
            @media (max-width: @mediumScreen) {
                margin: 0 auto;
            }
            .intoImg {
                background-image: url(../image/backLight.jpg);
                width: 100%;
                height: 356px;
            }
        }
    }
    .posuereText {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        padding: 15px;
        @media (max-width: @mediumScreen) {
            width: 100%;
        }
        article {
            width: 50%;
            padding-left: 10px;
            @media (max-width: @smallScreen) {
                width: 100%;
            }
            span {
                font-family: Georgia, "Times New Roman", Times, serif;
                font-size: 20px;
                padding-bottom: 15px;
                color: @mainColor;
            }
            p {
                color: #fff;
                padding-top: 20px;
            }
        }
    }
}

.nullaEuBlock {
    background-image: url(../image/back.jpg);
    width: 100%;
    background-position: center;
}

.nullaEu {
    .widthContainerMax;
    padding-top: 80px;
    padding-bottom: 30px;
    .nullaEuText {
        margin-bottom: 80px;
        span {
            font-size: 14px;
            line-height: 23px;
            color: #fff;
            display: block;
            text-align: center;
        }
        p {
            color: #fff;
            font-family: Georgia, "Times New Roman", Times, serif;
            font-size: 30px;
            text-align: center;
        }
        .hrColor {
            width: 8%;
            border: 2.5px solid darken(@mainColor, 10);
            background-color: darken(@mainColor, 10);
            border-radius: 2.5px;
            margin: 0 auto;
            margin-top: 10px;
        }
    }
    .nullaEuFoto {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .nullaEuImg {
            height: 260px;
            width: 30%;
            background-image: url(../image/backLight.jpg);
            margin-bottom: 50px;
            cursor: pointer;
            @media (max-width: @exLargeScreen) {
                width: 47%;
            }
            @media (max-width: @smallScreen) {
                width: 100%;
            }
            &:hover .insideHover {
                background-color: rgba(185, 70, 173, .4);
            }
            &:hover .insideHover i {
                opacity: 1;
            }
            .insideHover {
                width: 100%;
                height: inherit;
                transition: .5s;
                color: #fff;
                font-size: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                i {
                    opacity: 0;
                    transition: .5s;
                }
            }
        }
    }
}

.artem {
    color: #fff;
    .widthContainerMax;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .testArtem {
        height: auto;
        width: 32%;
        background-color: #333;
        margin-bottom: 2%;
        @media (max-width: @largeScreen) {
            width: 48.5%;
            margin-bottom: 3%;
        }
    }
    .center {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #333;
        .blockIn {
            height: auto;
            width: 32%;
            background-color: darken(#333, 5%);
        }
    }
}

.doe {
    display: flex;
    justify-content: space-between;
}

figure {
    width: 22%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .1);
    .fotoDoe {
        position: relative;
        height: auto;
        &:hover .insideHover {
            opacity: 1;
        }
        &:hover + figcaption {
            background-color: @mainColor;
        }
        &:hover + figcaption p {
            color: #fff;
        }
        img {
            width: 100%;
        }
        .insideHover {
            opacity: 0;
            position: absolute;
            top: 0;
            transition: .4s;
            color: #fff;
            font-size: 35px;
            width: 100%;
            height: 100%;
            text-align: center;
            background-color: rgba(185, 70, 173, .4);
            i {
                margin-top: 43%;
            }
        }
    }
    figcaption {
        background-color: #fff;
        text-align: center;
        padding: 20px 0;
        margin-top: -2px;
        transition: .4s;
        p {
            transition: .5s .7s;
        }
        p:first-child {
            font-size: 20px;
        }
        animation-name: mymove;
        &:hover {
            background-color: @mainColor;
        }
        &:hover p {
            color: #fff;
            /*transition-property: color;----------------------*/
            /*изменяемый параметр, можно не указывать, по-умолчанию все параметры.*/
            /*transition-duration: .5s;------------------------*/
            /*Продолжительность перехода*/
            /*transition-delay: .7s;----------------------------*/
            /*Задержка перехода*/
            /*transition-timing-function: ease-in-out;-----------*/
            /*ease	Функция по умолчанию, переход начинается медленно, разгоняется быстро и замедляется в конце. Соответствует cubic-bezier(0.25,0.1,0.25,1).
            linear	Переход происходит равномерно на протяжении всего времени, без колебаний в скорости. Соответствует cubic-bezier(0,0,1,1).
            ease-in	Переход начинается медленно, а затем плавно ускоряется в конце. Соответствует cubic-bezier(0.42,0,1,1).
            ease-out	Переход начинается быстро и плавно замедляется в конце. Соответствует cubic-bezier(0,0,0.58,1).
            ease-in-out	Переход медленно начинается и медленно заканчивается. Соответствует cubic-bezier(0.42,0,0.58,1).
            cubic-bezier(x1, y1, x2, y2)	Позволяет вручную установить значения от 0 до 1 для кривой ускорения. На этом сайте вы сможете построить любую траекторию перехода.
            initial	Устанавливает значение свойства в значение по умолчанию.
            inherit	Наследует значение свойства от родительского элемента.*/
        }
    }
}